{% load i18n ratings %}
{% rating_by_user user on record.rating as vote %}
[{% trans "score"|upper %} : {% if vote %}{{ record.rating.score }}{% else %}{% trans "no votes yet" %}{% endif %}]
<ul class="vote-selection">
  <li><a href="{% url core-rate-record record.id 1 %}">1</a></li>
  <li><a href="{% url core-rate-record record.id 2 %}">2</a></li>
  <li><a href="{% url core-rate-record record.id 3 %}">3</a></li>
  <li><a href="{% url core-rate-record record.id 4 %}">4</a></li>
  <li><a href="{% url core-rate-record record.id 5 %}">5</a></li>
</ul>

